BlueprintDemoApp.xcodeproj/project.xcworkspace/xcuserdata/themindinator.xcuserdatad/UserInterfaceState.xcuserstate
SwiftSyntax.playground/playground.xcworkspace/xcuserdata/themindinator.xcuserdatad/UserInterfaceState.xcuserstate